.container{
    width:70vw;
    margin:auto;
    
    
}
img{
    width:30px;
    height:30px;
}
.positiveValues{
    color: greenyellow;
}
.negativeValues{
    color:rgb(255,47,78);
}
.container table{
    width: 100%;
    background-color: black;
    color:white;
    height:800px;
    border-collapse: collapse;
    font-size: 20px;
    

}
tr{
    border-bottom: 1px solid white;
    text-align: center;
    vertical-align: center;
}